:root {
  --main-text-color: #212121;
  --secodary-text-color: #757575;
  --btn-text-light: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.lists,
.social-list-item,
.clients-list,
.footer-social-list-item {
  list-style: none;
}

.links,
.contacts-email-footer,
.contacts-namber-footer,
.portfolio-link,
.social-list-link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-content-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.portfolio {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.contacts-list {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-seri;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  margin-right: 92px;
}
.logo-studio {
  color: #000000;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}
.studio {
  color: var(--accent-color);
  position: relative;
}

.studio::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.email {
  margin-right: 50px;
}

.contacts-icon {
  fill: var(--secodary-text-color);
  margin: auto 10px auto 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-email:hover,
.contacts-email:focus {
  color: var(--accent-color);
}

.contacts-email:hover .contacts-icon,
.contacts-email:focus .contacts-icon {
  fill: var(--accent-color);
}

.contacts-namber {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secodary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-namber:hover,
.contacts-namber:focus {
  color: var(--accent-color);
}

.contacts-namber:hover .contacts-icon,
.contacts-namber:focus .contacts-icon {
  fill: var(--accent-color);
}

/* HERO */

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  margin: auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30px auto;
  width: 696px;
}

.modal-btn {
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--btn-text-light);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Advantages */

.advantages-list {
  display: flex;
}

.advantages-list-elements:not(:last-child) {
  margin-right: 30px;
}

.advantages-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.advantages {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantages-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
  width: 270px;
}

/* About us */

.section-about-us {
  padding-bottom: 94px;
}

.about-us {
  display: flex;
}

.about-us-list:not(:last-child) {
  margin-right: 30px;
}

.about-us-list {
  flex-basis: calc((100% - 60) / 3);
}

.tumb {
  position: relative;
}

.label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-light);
  width: 370px;
  height: 70px;
  padding: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.tumb > .label {
  position: absolute;
  bottom: 0;
}

/* Team */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.employee-description {
  padding: 30px 32px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
  margin-bottom: 16px;
}

.team-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90) / 4);
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--btn-text-light);
}

/* Clients */

.clients {
  display: flex;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* Footer */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.logo-footer {
  font-family: "Raleway", sans-seri;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
}

.logo-studio-footer {
  color: #ffffff;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 8px;
}

.contacts-email-footer {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.contacts-namber-footer {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.join {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-light);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-icon {
  fill: var(--btn-text-light);
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: var(--accent-color);
}

.contact-form-footer {
  display: flex;
  align-items: flex-end;
}

.sub-name {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-text-light);
  margin-bottom: 20px;
}

.contact-form-input-footer {
  display: block;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding: 15px 16px;
  color: var(--btn-text-light);
  margin-right: 12px;
}

.contact-form-input-footer:placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn-footer {
  padding: 10px 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--btn-text-light);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
}

.send {
  fill: var(--btn-text-light);
}

/* Portfolio */

.portfolio {
  color: var(--accent-color);
  position: relative;
}

.portfolio::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.tumb-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--btn-text-light);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms ease;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0);
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter-list:not(:last-child) {
  margin-right: 8px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  color: var(--main-text-color);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
  color: var(--btn-text-light);
  background: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-link-bottom {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.project-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secodary-text-color);
}

/* Modal */

.backgrope {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backgrope.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backgrope.is-hidden .modal {
  transform: scale(0.1);
  opacity: 0;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  padding: 0;
  cursor: pointer;
  /* transform: fill 250ms line; */
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: block;
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
}

.contact-form-field:not(:last-of-type) {
  margin-bottom: 10px;
}

.cell-name {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.contact-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus,
.contact-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--main-text-color);
  transition: fill 250ms line;
}

.contact-form-input:focus + .contact-form-input-icon,
.contact-form-input:hover + .contact-form-input-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms line;
  margin-bottom: 20px;
}

.contact-form-message:focus,
.contact-form-message:hover {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-ceckbox-wrapper {
  margin: auto;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.icon-check-wrapper {
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--main-text-color);
  border-radius: 3px;
  margin-right: 10px;
  transform: background 250ms line;
}

.icon-check {
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  fill: var(--btn-text-light);
}

.contact-form-checkbox:checked
  + .contact-form-checkbox-label
  > .icon-check-wrapper,
.contact-form-checkbox:focus
  + .contact-form-checkbox-label
  > .icon-check-wrapper {
  background: var(--accent-color);
  border: var(--accent-color);
}

.conditions {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.contact-form-submit-btn {
  padding: 10px 32px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--btn-text-light);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
